.root {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  align-items: start;
  background-color: #1b1717c8;
}
.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.submitBtn {
  background-color: green;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 100%;
}
.error {
  color: red;
  font-size: 0.875rem;
  text-align: start;
  padding-top: 0.25rem;
}
